extends layout

block content

    // includes needed for autocomplete
    script(src='/jquery/jquery.min.js')
    script(src='/jquery-autocomplete/jquery.autocomplete.js')
    link(rel='stylesheet', href='/jquery-autocomplete/jquery.autocomplete.css')

    // Gets data (all movie titles) for autocomplete for search box
    script.
        // I dont think this can be XSS-ed
        var movie_name_list = !{JSON.stringify(movie_names)};
        $(function() {
            $('#search').autocomplete({
                source:[movie_name_list]
            });
            $('#search').on('keyup', function(e) {
                if (e.keyCode === 13) {
                    $('#search-btn').click();
                }
            });

            $('#search-btn').click(function() {
                alert($('#search').val());
            });
        });

    // The search box
    input#search(type='text')
    button#search-btn.btn(type='button' value='Search')

    p List:
    ul
    -var index = 1

    for movie in movies
        li
            span #{index++}. 
            a(href=movie['link']) #{movie['rating']} - #{movie['title']}


    ul
        for movie in movies
            li #{movie.title}
                ul
                    li Directors
                    ul
                        -for (var i = 0; i < 5; ++i) {
                            if typeof(movie.directors[i]) != 'undefined'
                                li #{movie.directors[i].name}
                        -}
                ul
                    li Writers
                    ul
                        -for (var i = 0; i < 5; ++i) {
                            if typeof(movie.writers[i]) != 'undefined'
                                li #{movie.writers[i].name} ... #{movie.writers[i].credit}
                        -}
                ul
                    li Actors
                    ul
                        -for (var i = 0; i < 5; ++i) {
                            if typeof(movie.actors[i]) != 'undefined'
                                li #{movie.actors[i].name}
                        -}
