extends layout

block content
    h1= title
    p Welcome to #{title}

    for value, key in data.scrape_data
        if key != 'raw_html'
            p #{key}: #{value}

    // #{data.scrape_data['raw_html']}

