extends layout

block content
    ul
        for movie in data.scrape_data.movies
            li #{movie.title}
                -var i = 0;
                ul
                    while i < 5
                        li #{movie.actors[i++].name}

    p List:
    ul
    -var index = 1

    for movie in data.scrape_data.list
        li
            span #{index++}. 
            a(href=movie['link']) #{movie['rating']} - #{movie['title']}
